.level-select-button {
    -fx-background-color: lightgreen;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.level-select-grid {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-alignment: center;
    -fx-border-color: gray;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-background-color: red;
}



